{% extends "../base.html" %}
{% block title %}Radio {{action}}{% endblock %}
{% block content %}
<form method="POST" action="/radios/{{action}}/{{radio.Name}}" class="container">
    <div class="field">
        <label class="label">Display Name</label>
        <div class="control">
            <input type="text" class="input" name="Name" value="{{ radio.Name }}">
        </div>
    </div>
    <div class="field">
        <label class="label">Stream URL</label>
        <div class="control">
            <input type="url" class="input" name="URL" value="{{ radio.URL }}">
        </div>
    </div>
    <div class="columns">
        <div class="column field">
            <label class="label">Category</label>
            <div class="select">
                <select class="select" name="Category">
                    {% for cat in categories %}
                    <option value="{{cat}}"
                        {% if radio.State == cat %}selected{% endif %}>
                        {{cat}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="column field">
            <label class="label">Genre</label>
            <div class="select">
                <select class="select" name="Genre">
                    {% for genre in genres %}
                    <option value="{{genre}}"
                        {% if radio.Genre == genre %}selected{% endif %}>
                        {{genre}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="column field">
            <label class="label">Country</label>
            <div class="select">
                <select class="select" name="Country">
                    {% for c in countries %}
                    <option value="{{c}}"
                        {% if radio.Country == c %}selected{% endif %}>
                        {{c}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Last Tested</label>
        <div class="control">
            <input type="date" class="input" id="lastTested" name="LastTested" value="{{ radio.LastTested }}">
        </div>
    </div>
    <div class="field">
        <label class="label">State</label>
        <div class="select">
            <select class="select" name="State">
                <option value="VALID"
                    {% if radio.State == "VALID" %}selected{% endif %}
                    {% if !admin %}disabled{% endif%}>
                    Valid</option>
                <option value="ESCROW"
                    {% if radio.State == "ESCROW" %}selected{% endif %}
                    {% if !admin %}disabled{% endif%}>
                    Escrow</option>
                <option value="BROKEN"
                    {% if radio.State == "BROKEN" %}selected{% endif %}
                    {% if !admin %}disabled{% endif%}>
                    Broken</option>
            </select>
        </div>
    </div>
    <input type="hidden" name="id" value="{{id}}">
    <input type="submit" value="Save">
</form>
{% endblock %}