{% extends "../base.html" %}
{% block title %}Radio Edit{% endblock %}
{% block content %}
<form method="POST" action="/radios/edit/{{ radio.Name }}" class="container">
    <div class="field">
        <label class="label">Display Name</label>
        <div class="control">
            <input type="text" class="input" name="Name" value="{{ radio.Name }}">
        </div>
    </div>
    <div class="field">
        <label class="label">Stream URL</label>
        <div class="control">
            <input type="url" class="input" name="URL" value="{{ radio.URL }}">
        </div>
    </div>
    <div class="row">
        <div class="col field">
            <label class="label">Category</label>
            <div class="control">
                <input type="text" class="input" name="Category" value="{{ radio.Category }}">
            </div>
        </div>
        <div class="col field">
            <label class="label">Genre</label>
            <div class="control">
                <input type="text" class="input" name="Genre" value="{{ radio.Genre }}">
            </div>
        </div>
        <div class="col field">
            <label class="label">Country</label>
            <div class="control">
                <input type="text" class="input" name="Country" value="{{ radio.Country }}">
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Last Tested</label>
        <div class="control">
            <input type="datetime" class="input" name="LastTested" value="{{ radio.LastTested }}">
        </div>
    </div>
    <div class="field">
        <label class="label">State</label>
        <div class="control">
            <select class="select" name="State">
                <option value="VALID" {% if radio.State == "VALID" %}selected{% endif %}>Valid</option>
                <option value="ESCROW" {% if radio.State == "ESCROW" %}selected{% endif %}>Escrow</option>
                <option value="BROKEN" {% if radio.State == "BROKEN" %}selected{% endif %}>Broken</option>
            </select>
        </div>
    </div>
    <input type="hidden" name="id" value="{{id}}">
    <input type="submit" value="Save">
</form>
{% endblock %}