<nav class="navbar {% if authed %}is-black{% else %}is-danger{% endif %}" 
    role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a class="navbar-item" href="/">dabBot</a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Radios</a>
            
            <div class="navbar-dropdown">
                <a class="navbar-item" href="/radios/list/valid">Valid</a>
                <a class="navbar-item" href="/radios/list/escrow">Escrow</a>
                <a class="navbar-item" href="/radios/list/broken">Broken</a>
                <hr />
                <a class="navbar-item" href="/radios/create/"><i class="fa fa-plus"></i>&nbsp;Add Radio</a>
            </div>
        </div>
        
        <div class="navbar-end">
            {% if authed %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">{{username}}#{{discrim}}</a>

                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="/link/logout">Logout</a>
                </div>
            </div>
            {% else %}
            <a class="navbar-item" href="/link/discord">Login with Discord</a>
            {% endif %}
        </div>
    </div>
</nav>