{% extends "base.html" %}
{% block title %}Radio Edit{% endblock %}
{% block content %}
<form method="POST" action="/radios/edit?name={{ radio.Name }}">
    <div class="form-group">
        <label for="radioName">Display Name</label>
        <input type="text" class="form-control" id="radioName" name="Name" value="{{ radio.Name }}">
    </div>
    <div class="form-group">
        <label for="radioUrl">Stream URL</label>
        <input type="url" class="form-control" id="radioUrl" name="URL" value="{{ radio.URL }}">
    </div>
    <div class="form-group">
        <label for="radioCategory">Category</label>
        <input type="text" class="form-control" id="radioCategory" name="Category" value="{{ radio.Category }}">
    </div>
    <div class="form-group">
        <label for="radioGenre">Genre</label>
        <input type="text" class="form-control" id="radioGenre" name="Genre" value="{{ radio.Genre }}">
    </div>
    <div class="form-group">
        <label for="radioCountry">Country</label>
        <input type="text" class="form-control" id="radioCountry" name="Country" value="{{ radio.Country }}">
    </div>
    <div class="form-group">
        <label for="radioLastTested">Last Tested</label>
        <input type="datetime" class="form-control" id="radioLastTested" name="LastTested" value="{{ radio.LastTested }}">
    </div>
    <div class="form-group">
        <label for="radioState">State</label>
        <input type="text" class="form-control" id="radioState" name="State" value="{{ radio.State }}">
    </div>
    <input type="submit" value="Save">
</form>
{% endblock %}